body {
    width: 100%;
    height: 100%;
    background-image: url("media/images/background.jpg");
    background-size: contain;
    background-size: 120%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#wrapper {
    position: relative;
    width: 800px;
    height: 600px;
    left: 23%;
    top: 50px;
    z-index: 1;
}

#arena {
    position: relative;
    width: 800px;
    height: 500px;
    left: -5px;
    top: 50px;
    color: yellow;
    z-index: 90;
}

.header {
    /* External google font used */
    position: absolute;
    left: 2em;
    top: .2em;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    font-weight: 30;
    color: red;
}

#hud {
    position: absolute;
    font-size: 20px;
    background-color: darkred;
    height: 33px;
    font-weight: 40;
    color: red;
    left: .3em;
    top: .3em;
    right: -.2em;
    z-index: 100;
    border: 2px inset rgba(0, 50, 0, 0.62);
}

#fps {
    /*just an example background color, could be changed? */
    background-color: darkblue;
    font: 20px Arial;
    position: relative;
    width: 25px;
    height: 25px;
    top: .1em;
    left: .1em;
    color: red;
    text-shadow: 2px 2px 2px rgba(200, 80, 80, 1.0);
    z-index: 3;
    border: 2px inset rgba(0, 0, 50, 0.62);
}

#healthBar {
    /*just an example background color, could be changed? */
    background-color: darkblue;
    font: 20px Arial;
    position: relative;
    width: 300px;
    height: 25px;
    top: -1.35em;
    left: 5em;
    color: red;
    text-shadow: 2px 2px 2px rgba(200, 80, 80, 1.0);
    z-index: 3;
    border: 2px inset rgba(0, 0, 50, 0.62);
}

#weapon {
    /*just an example background color, could be changed? */
    background-color: darkblue;
    font: 20px Arial;
    position: relative;
    width: 100px;
    height: 25px;
    top: -4.25em;
    left: 25em;
    color: red;
    text-shadow: 2px 2px 2px rgba(200, 80, 80, 1.0);
    z-index: 3;
    border: 2px inset rgba(0, 0, 50, 0.62);
}

#ammo {
    /*just an example background color, could be changed? */
    background-color: darkblue;
    font: 20px Arial;
    position: relative;
    width: 25px;
    height: 25px;
    top: -5.7em;
    left: 31em;
    color: red;
    text-shadow: 2px 2px 2px rgba(200, 80, 80, 1.0);
    z-index: 3;
    border: 2px inset rgba(0, 0, 50, 0.62);
}

#score {
    /*just an example background color, could be changed? */
    background-color: darkblue;
    font: 20px Arial;
    position: relative;
    width: 75px;
    height: 25px;
    top: -2.8em;
    left: 35.65em;
    color: red;
    text-shadow: 2px 2px 2px rgba(200, 80, 80, 1.0);
    z-index: 3;
    border: 2px inset rgba(0, 0, 50, 0.62);
}

#roboticEncounter-canvas {
    background: url('media/images/world.png');
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px inset rgba(0, 0, 50, 0.62);
    -webkit-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
    -moz-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
    -o-box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
    box-shadow: rgba(0, 0, 50, 0.5) 8px 8px 16px;
}

#copyright {
    /*just an example background color, could be changed? */
    /*background-color: green;*/
    position: relative;
    margin-left: .5em;
    width: 210px;
    top: 65px;
    left: 300px;
    color: red;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
    z-index: 100;
}